name: Build Electron App

on:
  push:
    branches:
      - deploy
    paths-ignore:
      - "**.md"
      - "docs/**"
      - ".vscode/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      - name: Install Dependencies
        run: npm ci

      - name: Build Application
        run: npm run make

      # Upload the artifacts found in the `out/make` directory
      # This usually contains the installers (Setup.exe, .nupkg, etc.)
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-installer
          path: out/make/**/*
          if-no-files-found: error
